<form method="POST" action="{{ url_for('usuario_bp.store') }}" enctype="multipart/form-data" >
  <div class="modal fade text-left p-5" id="modalcreate" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #011f4b; color: white">
          <h4 class="modal-tittle">Nuevo Usuario</h4>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar" >
            <span aria-hidden="true" style="color: white;">&times;</span>
          </button>
        </div>

        <div class="modal-body p-2">
          
          <div class="row">
            <div class="col-md">
              <label for="txtNombre">Nombre</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtNombre" placeholder="Digite nombre" id="txtNombre" required />
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md">
              <label for="txtApellidos">Apellidos</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtApellidos" placeholder="Digite apellidos" id="txtApellidos" required />
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md">
              <label for="txtCorreo">Correo</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="email" name="txtCorreo" placeholder="Digite correo electronico" id="txtCorreo" required />
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md">
              <label for="txtNombre_usuario">Nombre de Usuario</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtNombre_usuario" placeholder="Digite nombre de usuario" id="txtNombre_usuario" required />
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md">
              <label for="txtPassword">Contraseña</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="password" name="txtPassword" id="txtPassword" placeholder="Digite la contraseña" id="txtPassword" required />
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md">
              <label for="txtConfirmarPassword">Confirmar Contraseña</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="password" name="txtConfirmarPassword" id="txtConfirmarPassword" placeholder="Confirme la contraseña" id="txtPassword" required />
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md">
              <label for="txtRol">Rol</label>
            </div>
            <!-- <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtRol" id="txtRol" value="Tendero" readonly required />
            </div> -->
            
            <div class="col-md d-inline">              
              <select class="form-select form-select-lg mb-3 w-100" style="height: calc(1.5em + 0.75rem + 2px); line-height: 1.5;
              border: 1px solid #ced4da" aria-label=".form-select-lg example" name="txtRol" id="txtRol" required>
                <option value="Tendero">Tendero</option>
                <option value="Administrador">Administrador</option>
              </select>
            </div>
          
          </div>

        </div>

        <div class="modal-footer">
          <div class="row p-2">
            <input class="btn btn-success" style="background-color: #011f4b;" type="submit" onclick="return Validate()"

            value="Agregar" />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
