<form method="POST" action="{{ url_for('usuario_bp.update') }}" enctype="multipart/form-data" >
  <input type="hidden" name="txtId" id="txtId" value="{{usuario['id']}}" />

  <div class="modal fade" id="modaledit{{usuario['id']}}" tabindex="-1"  role="dialog" aria-labelledby="modaledit{{usuario['id']}}" aria-hidden="true" >
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #011f4b; color: white" >
          <h4 class="modal-tittle">Editar Usuario</h4>
          <br />

          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar" >
            <span aria-hidden="true" style="color: white;" >&times;</span>
          </button>
        </div>

        <div class="modal-body p-2">
          <div class="row justify-content-md-center">
            <h5 class="text-center">{{usuario['nombre']}} {{usuario['apellidos']}}</h5>
          </div>

          <div class="row mt-2">
            <div class="col-md">
              <label for="txtNombre">Nombre</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtNombre" id="txtNombre" value="{{usuario['nombre']}}" required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md">
              <label for="txtApellidos">Apellidos</label>
            </div>
            <div class="col-md d-inline"> 
              <input class="form-control d-inline" type="text" name="txtApellidos" id="txtApellidos" value="{{usuario['apellidos']}}" required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md">
              <label for="txtCorreo">Correo</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="email" name="txtCorreo" id="txtCorreo" value="{{usuario['correo']}}" required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md">
              <label for="txtNombre_usuario">Nombre de Usuario</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtNombre_usuario" id="txtNombre_usuario" value="{{usuario['nombre_usuario']}}" required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md">
              <label for="txtPassword">Password</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="password" name="txtPassword" id="txtPassword" value="{{usuario['password']}}" required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md">
              <label for="txtRol">Rol</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtRol" id="txtRol" value="{{usuario['rol']}}" readonly required/>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <div class="row p-2">
            <input class="btn btn-success" style="background-color: #011f4b;" type="submit" value="Actualizar" />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
