{% include '/header.html' %}
{% include '/nav2.html' %}
<div class="container">
  <br />
  <div class="row justify-content-center">
    <h2>Usuarios</h2>
  </div>
  <div class="border border-dark border-2 p-0">
    <div class="card-header" style="background-color: #011f4b;">
      <a class="btn btn-light btn-md" href="#" data-toggle="modal" data-target="#modalcreate">
        <i class="fas fa-plus-circle"></i> Nuevo Usuario</a>
      {% include '/usuario/modal/create.html' %}
    </div>
    <div class="table-responsive bg-white container pt-2">

    
      <table class="table table-light p-0 my-0 " id="example">
        <thead>
          <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>Correo</td>
            <td>Nombre Usuario</td>
            <td>Rol</td>
            <td>Acciones</td>
          </tr>
        </thead>

        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <td>{{loop.index0 + 1}}</td>
            
            <td>{{usuario['nombre']}}</td>
            <td>{{usuario['apellidos']}}</td>
            <td>{{usuario['correo']}}</td>
            <td>{{usuario['nombre_usuario']}}</td>
            <td>{{usuario['rol']}}</td>
            <td>
              <a class="btn btn-warning btn-sm py-0" href="#"
                data-toggle="modal"  data-target="#modaledit{{usuario['id']}}" >
                <i class="far fa-edit"></i></a>
              |
              <a onclick="return confirm('Desea borrar el Usuario?')" class="btn btn-danger btn-sm py-0" href="/usuario/destroy/{{usuario['id']}}">            
                <i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% for usuario in usuarios %} 
{% include '/usuario/modal/edit.html' %}
{% endfor %}

{% include '/footer.html' %}
