{% include '/header.html' %}
{% include '/producto/headerproducto.html' %}
{% include '/nav2.html' %}
<div class="container">
  <br>
  <div class="row justify-content-center">
    <h2>Productos</h2>
  </div>
  
  <div class="border border-dark border-2 p-0"></div>
    <div class="card-header" style="background-color: #011f4b;">
      <a class="btn btn-light btn-md" href="#" data-toggle="modal" data-target="#modalcreate">
        <i class="fas fa-plus-circle"></i> Nuevo Producto</a>
      {% include '/producto/modal/create.html' %}
    </div>
  
    <div class="table-responsive bg-white container pt-2">
      <table class="table table-sm table-bordered " id="example">
        <thead>
          <tr>

            <th>#</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Referencia</th>
            <th>Costo</th>
            <th>Precio_venta</th>
            <th>Stock</th>
            <th>Categoria</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for producto in productos %}
          <tr>
            <td>{{loop.index0 + 1}}</td>
            
            <td class="align-middle">
              <img class="" width="100px" src="/uplproductos/{{producto.Producto.imagen}}" alt="">
            </td>

            <td>{{producto.Producto.nombre}}</td>
            <td>{{producto.Producto.referencia}}</td>
            <td>{{producto.Producto.costo}}</td>
            <td>{{producto.Producto.precio_venta}}</td>
            <td>{{producto.Producto.stock}}</td>
            <td>{{producto.Categoria.nombre}}</td>
            <td>
              <a class="btn btn-warning btn-sm py-0" href="#"
                data-toggle="modal"  data-target="#modaledit{{producto.Producto.id}}" >
                <i class="far fa-edit"></i></a>
              |
              <a onclick="return confirm('Desea borrar el producto?')" class="btn btn-danger btn-sm py-0" href="/producto/destroy/{{producto.Producto.id}}">            
                <i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% for producto in productos %} 
{% include '/producto/modal/edit.html' %}
{% endfor %}
{% include '/producto/scripts.html' %}

{% include '/footer.html' %}
