{% include '/header.html' %}
{% include '/nav.html' %}
<div class="container">
  <br />
  <div class="row justify-content-center">
    <h2>Categorias</h2>
  </div>
  <div class="border border-dark p-0">
    <div class="card-header" style="background-color: #011f4b;">
      <a class="btn btn-light btn-md" href="#" data-toggle="modal" data-target="#modalcreate">
        <i class="fas fa-plus-circle"></i> Nueva Categoria</a>
      {% include '/categoria/modal/create.html' %}
    </div>
    <div class="table-responsive bg-white container pt-2">
      <table class="table table-sm table-bordered " id="example">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Nombre</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for categoria in categorias %}
          <tr>
            <td class="text-center">{{loop.index0 + 1}}</td>
            
            <td>{{categoria['nombre']}}</td>
            <td class="text-center">
              <a class="btn btn-warning btn-sm py-0" href="#"
                data-toggle="modal"  data-target="#modaledit{{categoria['id']}}" >
                <i class="far fa-edit"></i></a>
              |
              <a onclick="return confirm('Desea borrar la Categoria?')" class="btn btn-danger btn-sm py-0" href="/categoria/destroy/{{categoria['id']}}">            
                <i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>  
  </div>
  <br>
  <br>
</div>

{% for categoria in categorias %} 
{% include '/categoria/modal/edit.html' %}
{% endfor %}

{% include '/footer.html' %}
