{% include '/header.html' %}
{% include '/nav2.html' %}
<div class="container">
  <br />
  <div class="row justify-content-center">
    <h2>Tiendas</h2>
  </div>
  <div class="border border-dark p-0">
    <div class="card-header" style="background-color: #011f4b;">
      <a class="btn btn-light btn-md" href="#" data-toggle="modal" data-target="#modalcreate">
        <i class="fas fa-plus-circle"></i> Nueva Tienda</a>
      </div>
    <div class="table-responsive bg-white container pt-2">
      <table class="table table-light p-0 my-0" id="example">
        <thead>
          <tr>
            <th>#</th>
            <th>Tienda</th>
            <th>Nit</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Propietario</th>
            <th>Ciudad</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for tienda in tiendas %}
            <tr>
              <td>{{loop.index0 + 1}}</td>
              
              <td>{{tienda['nombre_tienda']}}</td>
              <td>{{tienda['nit']}}</td>
              <td>{{tienda['direccion']}}</td>
              <td>{{tienda['telefono']}}</td>
              <td>{{tienda['nombre_propietario']}}</td>
              <td>{{tienda['ciudad']}}</td>
              
              <td class="text-center">
                <a class="btn btn-warning btn-sm py-0" href="#" data-toggle="modal"  data-target="#modaledit{{tienda['id']}}" data-toggle="tooltip" data-placement="top" title="Actualizar tienda"
                >
                  <i class="far fa-edit"></i></a>
                |
                <a onclick="return confirm('Desea borrar la Tienda?')" class="btn btn-danger btn-sm py-0" href="/tienda/destroy/{{tienda['id']}}" data-toggle="tooltip" data-placement="top" title="Eliminar tienda"
                >            
                  <i class="far fa-trash-alt"></i></a>
              </td>
              
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>  
  </div>
  <br>
  <br>
</div>


{% for tienda in tiendas %} 
{% include '/tienda/modal/edit.html' %}
{% endfor %}


{% include '/footer.html' %}
