{% include '/header.html' %}
{% include '/nav2.html' %}
<div class="container">
  <br />
  <div class="row justify-content-center">
    <h2>Entradas</h2>
  </div>
  <div class="border border-dark border-2 p-0">
    <div class="card-header" style="background-color:#011f4b;">
      <a class="btn btn-light btn-md" href="#" data-toggle="modal" data-target="#modalcreate">
        <i class="fas fa-plus-circle"></i> Nueva Entrada</a>
      {% include '/entrada/modal/create.html' %}
    </div>
    <div class="table-responsive bg-white container pt-2">
      <table class="table table-sm table-bordered"  id="example">
        <thead>
          <tr>
            <th>#</th>
            <th class="text-center">Producto</th>
            <th class="text-center">Cantidad</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Total</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Fecha_vencimiento</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for entrada in entradas %}
            <tr>
              <td>{{loop.index0 + 1}}</td>
              <td>{{entrada.Producto.nombre}}</td>
              <td class="text-right">{{entrada.Entrada.cantidad}}</td>  
              <td class="text-right">{{entrada.Entrada.precio}}</td>
              <td class="text-right">{{entrada.Entrada.total}}</td>
              <td class="text-center">{{entrada.Entrada.fecha}}</td>
              <td class="text-center">{{entrada.Entrada.fecha_vencimiento}}</td>

              
              <td class="text-center">
                <a class="btn btn-warning btn-sm py-0" href="#"
                  data-toggle="modal"  data-target="#modaledit{{entrada.Entrada.id_entradas}}" >
                  <i class="far fa-edit"></i></a>
                |
                <a onclick="return confirm('Desea borrar la Entrada?')" class="btn btn-danger btn-sm py-0" href="/entrada/destroy/{{entrada.Entrada.id_entradas}}">            
                  <i class="far fa-trash-alt"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% for entrada in entradas %} 
  {% include '/entrada/modal/edit.html' %}
{% endfor %}

{% include '/entrada/scripts.html' %}
{% include '/footer.html' %}
