</head>

<body style="background-color: hsl(205, 42%, 79%)">
    <nav class=" navbar navbar-expand-lg navbar-light shadow-md sticky-top " style="background-color: #03396c">
        <h3> <a class="nav-link text-light pr-1 font-weight-bold" href="{{ url_for('inicio_bp.home') }}" tabindex="-1" aria-disabled="true" >Mi tienda</a > </h3> 
        <button class="navbar-toggler mb-md-1" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation" > 
            <span class="navbar-toggler-icon"></span> 
        </button> 
        <div id="my-nav" class="collapse navbar-collapse ">
            
            <div class="row rounded ml-3 mb-md-1 p-0 align-center"></div>
                <ul class="navbar-nav mr-auto"> 
                    <div class="row rounded ml-3 mb-md-1"> 
                        <li class="nav-item col-md"> 
                            <a class="nav-link pr-1" href="{{ url_for('producto_bp.index') }}" tabindex="-1" aria-disabled="true" style="color: #fffff4" >Productos</a > 
                        </li>
                        <li class="nav-item col-md"> 
                            <a class="nav-link pr-1" href="{{ url_for('categoria_bp.index') }}" tabindex="-1" aria-disabled="true" style="color: #fffff4" >Categorias</a >
                        </li> 
                        <li class="nav-item col-md"> 
                            <a class="nav-link pr-1" href="{{ url_for('entrada_bp.index') }}" tabindex="-1" aria-disabled="true" style="color: #fffff4" >Entradas</a > 
                        </li> 
                        <li class="nav-item col-md"> 
                            <a class="nav-link pr-1" href="{{ url_for('salida_bp.index') }}" tabindex="-1" aria-disabled="true" style="color: #fffff4" >Salidas</a > 
                        </li>           
                        <li class="nav-item col-md"> 
                            <a class="nav-link pr-1" href="{{ url_for('usuario_bp.index') }}" tabindex="-1" aria-disabled="true" style="color: #fffff4" >Usuarios</a > 
                        </li> 
                        <li class="nav-item col-md"> 
                            <a class="nav-link pr-1" href="{{ url_for('tienda_bp.index') }}" tabindex="-1" aria-disabled="true" style="color: #fffff4" >Tiendas</a > 
                        </li> 
                        <li class="nav-item dropdown col-md">
                            
                            <a href="#" class="nav-link dropdown-toggle text-white d-block" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="/img/cuenta.svg" class="rounded-circle" width="32" height="32" alt="">
                                {% if current_user.is_anonymous %}
                                    <li><a href="{{ url_for('inicio_bp.login') }}">Login</a></li>
                                    

                                {% else %}
                                    <li>{{ current_user.nombre_usuario }}</li>
                                    
                                {% endif %}
                            </a>
                        
                            <div class="dropdown-menu " id="dropdown"aria-labelledby="dropdown07">
                                {% if current_user.is_anonymous %}
                                    <a class="dropdown-item" href="{{ url_for('inicio_bp.login') }}#">Login</a>
                                {% else %}
                                    <a class="dropdown-item" href="{{ url_for('inicio_bp.logout') }}">Cerrar Sesión</a>
                                {% endif %}
                                
                                
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        

        </div>
    </nav>
