{% include '/header.html' %}

<script type="text/javascript">
  function Validate() {
  var password = document.getElementById("txtPassword").value;
  var confirmPassword = document.getElementById("txtConfirmarPassword").value;
  if (password != confirmPassword) {
    alert("La contraseña no coincide, favr intentar nuevamente");
    return false;
  }
  return true;
  }
</script>


</head>

<body style="background-color: hsl(205, 42%, 79%)">
    <div class="container col-md-10 col-lg-7 col-sm-12">
      <div class="card card-widget rounded widget-user mt-5">
        <div class="row justify-content-center">
          <div class="col-11 mt-2">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages%}
                  {% for category, msg in messages %}
                      <div class="alert alert-{{category}}">
                          {{ msg }}
                      </div>
                  {% endfor %}
              {% endif %}
            {% endwith %}
            
          </div>
        </div>

        <div class="col-12  mt-5">
            <h1 class="text-center mb-5"  style="color: #03396c">Inscribir Tienda</h1>
            <div class="card">
                <div class="card-header">
                    <div class="row align-content-center"> 
                        <div class="col-12 text-center">
                            <img  width="200px" src="/img/store.png" alt="">
                        </div>
                        <div class="col-12 text-center">Por favor diligencie todos los datos que se le solicitan a continuación.</div>

                    </div>

                </div>


            </div>
            <br>

            <div class="card col-12 bg-light">
                <div class="card-body p-2 px-md-5">
                  {% block content %}
                    <form method="POST" action="" novalidate>
                        {{ form.csrf_token }}
                      {{ form.hidden_tag() }}

                        <div class="col-12 p-0">
                          
                            <div class="col-12 ">
                                
                                <h2 class="text-center">Datos del Tendero</h2>
                            </div>
                            <div class="d-flex flex-row ">
                                {{ form.nombre.label }} 
                                {{ form.nombre(class_='form-control ml-2', placeholder="Nombres del Usuario") }} 
                            </div>
                            <div class="text-right">
                              {% for error in form.nombre.errors %}
                              <span style="color: red;">{{ error }}</span>
                              {% endfor %}
                            </div>

                              
                            <div class="d-flex flex-row mt-2">
                              {{ form.apellido.label }} 
                              {{ form.apellido(class_='form-control ml-2', placeholder="Apellidos del Usuario") }} 
                            </div>
                            <div class="text-right">
                              {% for error in form.apellido.errors %}
                              <span style="color: red;">{{ error }}</span>
                              {% endfor %}
                            </div>

                            <div class="d-flex flex-row mt-2">
                              {{ form.correo.label(class_='text-nowrap') }} 
                              {{ form.correo(class_='form-control ml-2', placeholder="Correo Electrónico") }} 
                            </div>
                            <div class="text-right">
                              {% for error in form.correo.errors %}
                              <span style="color: red;">{{ error }}</span>
                              {% endfor %}
                            </div>


                            <div class="d-flex flex-row mt-2">
                              {{ form.nombreusuario.label(class_='text-nowrap') }} 
                              {{ form.nombreusuario(class_='form-control ml-2', placeholder="NombreUsuario") }} 
                            </div>
                            <div class="text-right">
                              {% for error in form.nombreusuario.errors %}
                              <span style="color: red;">{{ error }}</span>
                              {% endfor %}
                            </div>

                            <div class="d-flex flex-row mt-2">
                              {{ form.password.label(class_='text-nowrap') }} 
                              {{ form.password(class_='form-control ml-2', placeholder="Contraseña", id="txtPassword") }} 
                            </div>
                            <div class="text-right">
                              {% for error in form.password.errors %}
                              <span style="color: red;">{{ error }}</span>
                              {% endfor %}
                            </div>

                            <div class="d-flex flex-row mt-2">
                              {{ form.confirmarPassword.label(class_='text-nowrap') }} 
                              {{ form.confirmarPassword(class_='form-control ml-2', placeholder="Confirmar contraseña", id="txtConfirmarPassword") }} 
                            </div>
                            <div class="text-right">
                              {% for error in form.confirmarPassword.errors %}
                              <span style="color: red;">{{ error }}</span>
                              {% endfor %}
                            </div>

                              <div class="col-12 ">
                                  <hr>
                                  <h2 class="text-center">Datos de la Tienda</h2>
                              </div>

                              <div class="d-flex flex-row mt-2">
                                {{ form.tienda.label(class_='text-nowrap') }} 
                                {{ form.tienda(class_='form-control ml-2', placeholder="Nombre de la Tienda") }} 
                              </div>
                              <div class="text-right">
                                {% for error in form.tienda.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                              </div>
                              
                              <div class="d-flex flex-row mt-2">
                                {{ form.nit.label(class_='text-nowrap') }} 
                                {{ form.nit(class_='form-control ml-2', placeholder="Nit de la Tienda") }} 
                              </div>
                              <div class="text-right">
                                {% for error in form.nit.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                              </div>
                              
                              <div class="d-flex flex-row mt-2">
                                {{ form.direccion.label(class_='text-nowrap') }} 
                                {{ form.direccion(class_='form-control ml-2', placeholder="Dirección de la tienda") }} 
                              </div>
                              <div class="text-right">
                                {% for error in form.direccion.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                              </div>
                              
                              <div class="d-flex flex-row mt-2">
                                {{ form.telefono.label(class_='text-nowrap') }} 
                                {{ form.telefono(class_='form-control ml-2', placeholder="Telefono de la tienda") }} 
                              </div>
                              <div class="text-right">
                                {% for error in form.telefono.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                              </div>

                              <div class="d-flex flex-row mt-2">
                                {{ form.ciudad.label(class_='text-nowrap') }} 
                                {{ form.ciudad(class_='form-control ml-2', placeholder="Ciudad") }} 
                              </div>
                              <div class="text-right">
                                {% for error in form.ciudad.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                              </div>                              


                        </div>                      

                        <div class="col-12 text-center mt-3">
                          

                            {{ form.submit() }}
                        </div>

                    </form>
                  {% endblock %}

                </div>


            </div>    
            <br>        
        </div>
      </div>
    </div>

        
   
    {% include '/footer.html' %}