{% include '/header.html' %}
{% include '/salida/headersalida.html' %}
{% include '/nav2.html' %}
<div class="container">
  <br />
  <div class="row justify-content-center">
    <h2>Salidas</h2>
  </div>
  <div class="border border-dark border-2 p-0">
    <div class="card-header" style="background-color:#011f4b;">
      <a class="btn btn-light btn-md" href="#" data-toggle="modal" data-target="#modalcreate">
        <i class="fas fa-plus-circle"></i> Nueva Salida</a>
      {% include '/salida/modal/create.html' %}
    </div>
    <div class="table-responsive bg-white container pt-2">
      <table class="table table-sm table-bordered " id="example">
        <thead>
          <tr>
            <th># </th>
            <th class="text-center">Producto</th>
            <th class="text-center">Fecha</th>
            
            <th class="text-center">Cantidad</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Total</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for salida in salidas %}
          <tr>
            <td>{{loop.index0 + 1}}</td>
            <td>{{salida.Producto.nombre}}</td>
            <td>{{salida.Salida.fecha}}</td>
            <td class="text-right">{{salida.Salida.cantidad}}</td>
            <td class="text-right">{{salida.Salida.precio_unit}}</td>
            <td class="text-right">{{salida.Salida.precio_total}}</td>
            
            
            <td class="text-center">
              <a class="btn btn-warning btn-sm py-0" href="#"
                data-toggle="modal"  data-target="#modaledit{{salida.Salida.id_salidas}}" >
                <i class="far fa-edit"></i></a>
              |
              <a onclick="return confirm('Desea borrar la Salida?')" class="btn btn-danger btn-sm py-0" href="/salida/destroy/{{salida.Salida.id_salidas}}">            
                <i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% for salida in salidas %}  
  {% include '/salida/modal/edit.html' %}
{% endfor %}


{% include '/salida/scripts.html' %}

{% include '/footer.html' %}
