<form method="POST" action="{{ url_for('entrada_bp.store') }}" enctype="multipart/form-data" >
  <div class="modal fade text-left p-5" id="modalcreate" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-tittle">Nueva Entrada</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body p-2">
          <div class="row">
            <div class="col-md">
              <label for="txtProducto">Producto</label>
            </div>
            <div class="col-md d-inline  form-group vehicle-type">
             
             
              <select class="selectpicker bg-dark  form-control idproducto" name="txtProducto" data-live-search="true" id ="one">
                <option value=0>Seleccion</option>
                  {% for producto in productos %}
                
                    <option value="{{producto['id']}}" data-price="{{producto['precio_venta']}}"
                        data-tokens="{{producto['id']}}">{{producto['nombre']}}</option>
                  {% endfor %}
              </select>
              
            </div>
          </div>

          <div class="row">
            <div class="col-md">
              <label for="txtCantidad">Cantidad</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtCantidad" id="txtCantidad" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <label for="txtPrecio">Precio Unitario</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtPrecio" id="txtPrecio" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <label for="txtFecha_Ven">Fecha Vencimiento</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtFecha_Ven" id="txtFecha_Ven" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <label for="txtProveedor">Proveedor</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtProveedor" id="txtProveedor" required/>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="row p-2">
            <input class="btn btn-success" type="submit" value="Agregar" />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
