<form
  method="POST"
  action="{{ url_for('entrada_bp.update') }}"
  enctype="multipart/form-data"
>
  <input
    type="hidden"
    name="txtId"
    id="txtId"
    value="{{entrada['id_entradas']}}"
  />

  <div
    class="modal fade"
    id="modaledit{{entrada['id_entradas']}}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modaledit{{entrada['id_entradas']}}"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-tittle">Editar Entrada</h4>
          <br />

          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Cerrar"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body p-2">
          <div class="row justify-content-md-center">
            <h5 class="text-center">{{entrada['precio']}}</h5>
          </div>

        
          <div class="row">
            <div class="col-md">
              <label for="txtProducto">Producto</label>
            </div>
            <div class="col-md d-inline">

              <input class="form-control d-inline" type="text" name="txtProducto" id="txtProducto" value="{{entrada['id_producto']}}" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <label for="txtCantidad">Cantidad</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtCantidad" id="txtCantidad" value="{{entrada['cantidad']}}" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <label for="txtPrecio">Precio Unitario</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtPrecio" id="txtPrecio" value="{{entrada['precio']}}" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <label for="txtFecha_Ven">Fecha Vencimiento</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtFecha_Ven" id="txtFecha_Ven" value="{{entrada['txtFecha_Ven']}}" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <label for="txtProveedor">Proveedor</label>
            </div>
            <div class="col-md d-inline">
              <input class="form-control d-inline" type="text" name="txtProveedor" id="txtProveedor" value="{{entrada['Proveedor']}}" required/>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="row p-2">
            <input class="btn btn-success" type="submit" value="Agregar" />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
